
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" style="margin-left: 11.8rem"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("ProductPage", "Product")">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page">Polo shirt</li>
    </ol>
</nav>


<div class="container">
    <ul class="list__img-small">
        <li>
            <img src="~/Assets/img/productImage.png" />
        </li>
        <li>
            <img src="~/Assets/img/productImage2.jpg" />
        </li>
    </ul>

    <div class="imgBox">
        <img src="~/Assets/img/productImage.png" />
    </div>
</div>

<div class="product__information">

</div>

