@model IEnumerable<DoAn_Web_SellClothes.Models.Product>
@{
    ViewBag.Title = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item ml-5"> <a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
    </nav>

    <div class="narrow text-left">
        <div class="col-12">
            <h3 class="heading">Living room</h3>
            <div class="heading-underline mr-auto ml-5"></div>
        </div>

        <div class="row text-center">
            <div class="col-md-3">

                <nav class="sidebar">
                    <div class="text">Category</div>
                    <ul>
                        <li>
                            <a href="#" class="men-btn">
                                Men <span class="fas fa-caret-down first"></span>
                            </a>
                            <ul class="men-show">
                                @Html.Action("SanPhamNam", "Product")
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="women-btn">
                                Women
                                <span class="fas fa-caret-down second"></span>
                            </a>
                            <ul class="women-show">
                                @Html.Action("SanPhamNu", "Product")
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                <div class="row">
                    @Html.Action("AllSanPham", "Product")
                </div>
            </div>
        </div>
    </div>
</div>