
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ml-5"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ProductPage", "Product")">Product</a></li>
            <li class="breadcrumb-item active" aria-current="page">Polo shirt</li>
        </ol>
    </nav>

    <div class="product-details">
        <div class="row">
            <div class="col-md-2 col-lg-1 col-4">
                <ul class="list__img-small">
                    <li>
                        <img src="~/Assets/img/productImage.png" />
                    </li>
                    <li>
                        <img src="~/Assets/img/productImage2.jpg" />
                    </li>
                </ul>
            </div>
            <div class="col-md-5 col-lg-4 mx-auto">
                <div class="imgBox">
                    <img src="~/Assets/img/productImage.png" />
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <h1 class="tilte-category">Men&nbsp;<span class="name-product">Polo shirt</span></h1>
                <h1 class="price-product">150.000 <span>&nbsp;VND</span></h1>
                <hr class="light" />
                <h5>Describe</h5>
                <p>Sản phẩm có xuất xứ tại Nga, được công nhận và kiểm duyệt bởi Cục y tế.</p>
               
                <h5>Size</h5>
                <div class="btn-group mr-2 btn-group-size" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary ">S</button>
                    <button type="button" class="btn btn-outline-secondary">M</button>
                    <button type="button" class="btn btn-outline-secondary">L</button>
                    <button type="button" class="btn btn-outline-secondary">XL</button>
                </div>
                <h5>quantity</h5>
                <div class="btn-quantity shadow-sm">
                    <span class="minus">-</span>
                    <span class="num">01</span>
                    <span class="plus">+</span>
                </div>

                <button class="btn btn-warning btn-addtocart shadow my-4">Add to cart</button>
               
            </div>
        </div>
    </div>
</div>

