@{
    ViewBag.Title = "ProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left: 11.8rem"> <a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
    </nav>
    <div class="bodypage">
        <p class="name__page">Living room</p>

        <div class="bodypage__product">

            <nav class="sidebar">
                <div class="text" > Category</div>
                <ul>
                    <li>
                        <a href="#" class="men-btn"> Men <span class="fas fa-caret-down first"></span>
                        </a>
                        <ul class="men-show">
                            <li><a href="#"> Top</a></li>
                            <li><a href="#"> Bottoms</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="women-btn">
                            Women
                            <span class="fas fa-caret-down second"></span>
                        </a>
                        <ul class="women-show">
                            <li><a href="#">Top</a></li>
                            <li><a href="#">Bottoms</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>

            <div class="product__list row row-cols-1 row-cols-md-3">

                <div class="col mb-4">
                    <a href=@Url.Action("ProductDetails", "Product")>
                        <div class="card">
                            <img src="~/Assets/img/productImage.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Polo shirt</p>
                                <p class="price__product">150.000 <span class="currency-symbol">&#160;VND</span></p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col mb-4">
                    <a href=@Url.Action("ProductDetails", "Product")>
                        <div class="card">
                            <img src="~/Assets/img/productImage.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Polo shirt</p>
                                <p class="price__product">150.000 <span class="currency-symbol">&#160;VND</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col mb-4">
                    <a href=@Url.Action("ProductDetails", "Product")>
                        <div class="card">
                            <img src="~/Assets/img/productImage.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Polo shirt</p>
                                <p class="price__product">150.000 <span class="currency-symbol">&#160;VND</span></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col mb-4">
                    <a href=@Url.Action("ProductDetails", "Product")>
                        <div class="card">
                            <img src="~/Assets/img/productImage.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title">Polo shirt</p>
                                <p class="price__product">150.000 <span class="currency-symbol">&#160;VND</span></p>
                            </div>
                        </div>
                    </a>
                </div>


            </div>                     
        </div>
    </div>
</div>