@model IEnumerable<DoAn_Web_SellClothes.Models.ProductType>
<div class="list-group">
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("SPTheoLoaiNam","Product",new { id=item.IdProductType})">  
            @item.NameProductType
            </a>
        </li>
    }
</div>

