
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Feedback</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Phản hồi khách hàng
        </div>
        <div class="card-body">
            <table id="datatablesFeedback" class="table-responsive">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Ngày gửi</th>
                        <th>Nội dung phản hồi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      
                        <td style="min-width:200px">Ê lum mớt</td>
                        <td>ghihhi@gmail.com</td>
                        <td>02/02/2022</td>
                        <td>Làm ăn như làm ăn</td>
                    </tr>
                 


                </tbody>
            </table>
        </div>
    </div>
</div>

