
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home">
    <div class="home__action">
        <h1 class="home__title">
            Welcome to Furny
        </h1>
        <p class="home__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing<br />
            elit. Consequat condimentum sit scelerisque eu morbi<br />
            faucibus amet, viverra. Porta  mattis nunc.
        </p>
        <button class="home__button">
            Shop now
        </button>
    </div>
</div>

