@model DoAn_Web_SellClothes.Models.Product

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Thêm sản phẩm</h1>
    <div class="card mb-4">
        @using (Html.BeginForm("AddProduct","Manage", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {

            <div class="card-body">
                <div class="table-Edit table-responsive">
                    <table class="table">
                        <tbody>
                            
                            <tr>
                                <th>Tên sản phẩm</th>
                                <td>
                                    <input type="text" name="name" required/>
                                </td>
                            </tr>
                            <tr>
                                <th>Hình</th>
                                <td>
                                    <input type="file" name="img" required />
                                </td>
                            </tr>
                            <tr>
                                <th>Giá</th>
                                <td>
                                    <input type="text" name="price"required />
                                </td>
                            </tr>
                            <tr>
                                <th>Mô tả</th>
                                <td>
                                    <input type="text" name="describe"required />
                                </td>
                            </tr>
                            <tr>
                                <th>Loại</th>
                                <td>
                                    <div class="col-md-10">
                                        @Html.DropDownList("Loai")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Kích thước</th>
                                <td>
                                    <div class="col-md-10">
                                        @Html.DropDownList("Size")
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Số lượng</th>
                                <td>
                                    <input type="text" name="quality"required />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="submit" class="mybtn btn btn-outline-success" value="Xác nhận" />
         }
    </div>
    <button class="btn btn-outline-dark" onclick="history.back()">Trở về</button>
</div>

