@model DoAn_Web_SellClothes.Models.ProductType
@{
    ViewBag.Title = "AddTypesClothes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Thêm loại đồ</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-shirt"></i>
            Thêm loại đồ
        </div>
        @using (Html.BeginForm(@*"AddProduct", "Manage", FormMethod.Post, new { @enctype = "multipart/form-data" }*@))
        {
            @*@Html.AntiForgeryToken()*@
            <div class="card-body">
                <div class="table-Edit table-responsive">
                    <table class="table">
                        <tbody>
                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                            <tr>
                                <th>Tên loại</th>
                                <td>
                                    <input type="text" name="name" />
                                </td>
                            </tr>
                            <tr>
                                <th>Giới tính</th>
                                <td>
                                    <div class="col-md-10">
                                        <input type="number" name="sex" />
                                        <span>"0" : Nữ</span>
                                        <span>"1" : Nam</span>
                                        @ViewData["1"]
                                    </div>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="submit" class="mybtn btn btn-outline-success" value="Thêm" />
        }

    </div>
    <button class="btn btn-outline-dark" onclick="history.back()">Trở về</button>


</div>

