
@{
    ViewBag.Title = "Customer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý khách hàng</h1>

    <div class="row">
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table "></i>
                    Khách hàng
                </div>
                <div class="card-body">
                    <table id="datatablesCustomer" class="table-responsive">
                        <thead>
                            <tr>
                                <th>Tên khách hàng</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Mật khẩu</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>lê đình phúc</td>
                                <td>khuyetdanh@gmail.com</td>
                                <td>0683537854</td>
                                <td>123 nguyễn văn việt, quận 7, Hà nội</td>
                                <td>123456</td>
                                <td>
                                    <input type="button" class="btn btn-info w-75 mb-1" value="Edit" />
                                    <input type="button" class="btn btn-warning w-75" value="Delete" />
                                </td>

                            </tr>
                            <tr>
                                <td>Nguyễn Khuyết Danh</td>
                                <td>khuyetdanh@gmail.com</td>
                                <td>0683537854</td>
                                <td>123 nguyễn văn việt, quận 7, Hà nội</td>
                                <td>123456</td>
                                <td>
                                    <input type="button" class="btn btn-info w-75 mb-1" value="Edit" />
                                    <input type="button" class="btn btn-warning w-75" value="Delete" />
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-user"></i>
                    Chi tiết khách hàng
                </div>
                <div class="card-body">
                    <div class="table-Edit table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Tên khách hàng</th>
                                    <td>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>
                                        <input type="email" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại</th>
                                    <td>
                                        <input type="tel" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ</th>
                                    <td>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Mật khẩu</th>
                                    <td>
                                        <input type="text" />
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <input type="submit" class="mybtn btn btn-outline-success" value="Thêm" /> <!--nếu chọn Edit thì value = chỉnh sửa-->
               
            </div>
        </div>
    </div>
  

 



</div>

