
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý hóa đơn</h1>

    <div class="mb-3">
        <button class="btn btn-success" type="submit">Lưu trạng thái</button>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Hóa đơn
        </div>
        <div class="card-body">
            <table id="datatablesInvoice" class="table-responsive">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Ngày lập</th>
                        <th>Tổng hóa đơn</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
           
                    <tr>
                        <td>11</td>
                        <td>Ê lum mớt</td>
                        <td>5412D</td>
                        <td>098875</td>
                        <td>2011/04/25</td>
                        <td>320000<span>đ</span></td>
                        <td>Thanh toán khi nhận hàng</td>
                        <td>
                            <select class="form-control">
                                <option>Chờ xác nhận</option>
                                <option>Đã xác nhận</option>
                                <option>Đã hủy</option>
                            </select>
                        </td>
                        <td>
                            <a class="btn btn-info" href="@Url.Action("DetailReceipt","Manage")">View details</a>

                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>




</div>



