@model PagedList.PagedList<produt>
@using PagedList.Mvc;

@{
    ViewBag.Title = "TypesClothes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý loại đồ</h1>
    <div class="mb-3">
        <a class="btn btn-success" href="@Url.Action("AddTypesClothes","Manage")">Thêm loại sản phẩm</a>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table "></i>
            Loại đồ
        </div>
        <div class="card-body">
            <table id="datatablesTypesClothes" class="table-responsive">
                <thead>
                    <tr>
                        <th>Mã loại</th>
                        <th>Tên loại</th>
                        <th>Mã giới tính</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Đầm</td>
                        <td>Nữ</td>
                        <td>
                            <a href="@Url.Action("EditTypesClothes","manage")" class="btn btn-info mb-1 mb-lg-0"> Edit</a>
                            <a class="btn btn-warning"> Delete</a>

                        </td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Đầm</td>
                        <td>Nữ</td>
                        <td>
                            <a href="@Url.Action("EditTypesClothes","manage")" class="btn btn-info mb-1 mb-lg-0"> Edit</a>
                            <a class="btn btn-warning"> Delete</a>

                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

