@model PagedList.PagedList<produt>
@using PagedList.Mvc;

@{
    ViewBag.Title = "TypesClothes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý loại đồ</h1>

    <div class="row">
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table "></i>
                    Loại đồ
                </div>
                <div class="card-body">
                    <table id="datatablesTypesClothes" class="table-responsive">
                        <thead>
                            <tr>
                                <th>Mã loại</th>
                                <th>Tên loại</th>
                                <th>Mã giới tính</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.IdProductType)</td>
                                <td>@Html.DisplayFor(modelItem => item.NameProductType)</td>
                                <td>@Html.DisplayFor(modelItem => item.IdSex)</td>
                                <td>
                                    <input type="button" class="btn btn-info w-75 mb-1" value="Edit" />
                                    <input type="button" class="btn btn-warning w-75" value="Delete" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-shirt"></i>
                    Chi tiết loại đồ
                </div>
                <div class="card-body">
                    <div class="table-Edit table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Tên loại</th>
                                    <td>
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Giới tính</th>
                                    <td>
                                        <select class="form-control">
                                            <option>Nam</option>
                                            <option>Nữ</option>
                                        </select>

                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
                <input type="submit" class="mybtn btn btn-outline-success" value="Thêm" /> <!--nếu chọn Edit thì value = chỉnh sửa-->

            </div>
        </div>
    </div>
</div>

